<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output Page</title>
    <style>
        body
        {
            text-align: center;
            padding-top: 5rem;
            font-family: monospace;
            background-color: burlywood;
        }
    </style>
</head>
<body>
    <h1>Prediction Times</h1>
    <p><b>Sleep Stage W : </b>{{msg1}}</p>
    <p><b>Sleep Stage N1 : </b>{{msg2}}</p>
    <p><b>Sleep Stage N2 : </b>{{msg3}}</p>
    <p><b>Sleep Stage N3 : </b>{{msg4}}</p>
    <p><b>Sleep Stage REM : </b>{{msg5}}</p>
    <h1>Artifical Neural Network</h1>
    <p><b>Sleep Stage W : </b>{{msg1_ANN}}</p>
    <p><b>Sleep Stage N1 : </b>{{msg2_ANN}}</p>
    <p><b>Sleep Stage N2 : </b>{{msg3_ANN}}</p>
    <p><b>Sleep Stage N3 : </b>{{msg4_ANN}}</p>
    <p><b>Sleep Stage REM : </b>{{msg5_ANN}}</p>
    <h1>Decision Tree</h1>
    <p><b>Sleep Stage W : </b>{{msg1_DT}}</p>
    <p><b>Sleep Stage N1 : </b>{{msg2_DT}}</p>
    <p><b>Sleep Stage N2 : </b>{{msg3_DT}}</p>
    <p><b>Sleep Stage N3 : </b>{{msg4_DT}}</p>
    <p><b>Sleep Stage REM : </b>{{msg5_DT}}</p>
    <h1>K Nearest Neighbors</h1>
    <p><b>Sleep Stage W : </b>{{msg1_KNN}}</p>
    <p><b>Sleep Stage N1 : </b>{{msg2_KNN}}</p>
    <p><b>Sleep Stage N2 : </b>{{msg3_KNN}}</p>
    <p><b>Sleep Stage N3 : </b>{{msg4_KNN}}</p>
    <p><b>Sleep Stage REM : </b>{{msg5_KNN}}</p>
    <h1>Naive Bayes Classifier</h1>
    <p><b>Sleep Stage W : </b>{{msg1_NB}}</p>
    <p><b>Sleep Stage N1 : </b>{{msg2_NB}}</p>
    <p><b>Sleep Stage N2 : </b>{{msg3_NB}}</p>
    <p><b>Sleep Stage N3 : </b>{{msg4_NB}}</p>
    <p><b>Sleep Stage REM : </b>{{msg5_NB}}</p>
    <h1>Random Forest</h1>
    <p><b>Sleep Stage W : </b>{{msg1_RF}}</p>
    <p><b>Sleep Stage N1 : </b>{{msg2_RF}}</p>
    <p><b>Sleep Stage N2 : </b>{{msg3_RF}}</p>
    <p><b>Sleep Stage N3 : </b>{{msg4_RF}}</p>
    <p><b>Sleep Stage REM : </b>{{msg5_RF}}</p>
    <h1>Support Vector Machine</h1>
    <p><b>Sleep Stage W : </b>{{msg1_SVM}}</p>
    <p><b>Sleep Stage N1 : </b>{{msg2_SVM}}</p>
    <p><b>Sleep Stage N2 : </b>{{msg3_SVM}}</p>
    <p><b>Sleep Stage N3 : </b>{{msg4_SVM}}</p>
    <p><b>Sleep Stage REM : </b>{{msg5_SVM}}</p>
</body>
</html>