<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech_Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <form action="/upload" method="POST">
        <div class="h-[70vh] w-[30vw] bg-blue-200 m-auto mt-20 relative flex flex-col gap-10 rounded-lg">
            <h4 class="text-center font-bold text-2xl font-mono mt-5">LOGIN</h4>
            <div class="flex flex-col gap-5">
                <div class="flex flex-col gap-3">
                    <label class="mx-7 mt-5">Username<span class="text-red-600">*</span></label>
                    <input type="text" class="w-[20vw] mx-7 rounded-md p-2" name="username">
                </div>
                <div class="flex flex-col gap-3">
                    <label class="mx-7 mt-5">Password<span class="text-red-600">*</span></label>
                    <input type="text" class="w-[20vw] mx-7 rounded-md p-2" name="password">
                </div>
            </div>
            <button type="submit" class="font-bold bg-blue-800 w-[8vw] m-auto p-1 rounded-lg text-white hover:scale-110">Login</button>
        </div>    
    </form>
</body>
</html>